$col-green-shaded: #406139;
$col-blue-shaded: #2a665c;
$col-blue-shadeddark: #1d4740;
$col-green-shadeddark: #263b23;
$col-blue-light-shaded: #00ccaa;
$col-green-text: #4cac34;
$col-grey-dark: #777;
$col-white: #fff;
$col-glass: rgba(255, 255, 255, 0.116);
$col-black: #000;
$col-light-grey: #f3f1f1;
