.learn-more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
&:link, 
&:visited {
    text-transform: uppercase;
    width: 40%;
    font-size: 1.3rem;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    padding: 1.2rem;
    border-radius:10rem;
    transition: all .3s;
    position: relative;
    animation-name: moveInBottomBtn;
    animation-duration: .4s;
    animation-timing-function: ease-in;

}

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 2rem 3rem rgba($col-black, 0.39);
        &::after {
            transform: scaleX(1.2) scaleY(1.4);
            opacity: 0;
        }
    }
    
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 .1rem 2rem rgba($col-black, 0.356);
    }
    &-white {
        background-color: $col-white;
        color: $col-grey-dark;

        &::after {
            background-color: $col-white;
        }
    }
    
    &::after {
        content:"";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
}


